@charset "ISO-8859-1";
body{
	margin:0;
	padding-top:100px;
	
}
.navigationBar {
	overflow: hidden;
	position: fixed; 
  	top: 0; 
  	width:100%;
}
.navigationBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navigationBar li {
	float: left;
	border-right:1px solid #bbb;
	height:100px;
}

.navigationBar li:last-child {
	border-left: 1px solid #bbb;
  	border-right: none;
}

.navigationBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 40.5px 16px;
	text-decoration: none;
}

.navigationBar li a:hover:not(.active) {
	background-color: #111;
}

.navigationBar form {
	color: white;
}


.navigationBar form #login{
	background-color: #333;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 15px 16px;
  	text-decoration: none;
  	border:none;
  	width:50%;
  	float:left;
  	border-top: 1px solid #bbb;
}

.navigationBar form #login:hover{
	background-color: #111;
}

.navigationBar #register{
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	float:left;
	width:49%;
	padding: 14px 0px;
}

.active {
	background-color: #04AA6D;
}

.searchBar {
	margin-top:10px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
}

.searchBar input {
	padding: 6px;
  	border: 1px solid #ccc;  
  	font-size: 17px;
}

.tabOffers {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	overflow-x:auto;
	table-layout:auto;
}

.tabOffers th, .tabOffers td {
	padding: 8px;
}

.tabOffers tr:nth-child(even){
	background-color: #f2f2f2
}

.tabOffers th {
	background-color: #04AA6D;
	color: white;
}

.tabOffers td a {
	text-decoration:none;
}

.tabOffers caption {
	padding: 8px;
	color:#04AA6D;
}

.sendMessage{
	position: fixed; 
  	bottom: 0; 
  	margin-left:20%;
  	width:100%;
  	display:flex;
}

.sendMessage input[type="text"]{
	font-size:30px;
  	width:60%;
  	border: 3px solid #f2f2f2;
}

.sendMessage input[type="submit"]{
	background-color:#04AA6D;
	color:#f2f2f2;
	font-size:30px;
	border:none;
	width:15%;
}

.selectContact{
	overflow:hidden;
	font-size:30px;
	width:100%;
	border:none;
}

.selectContactDiv{
	width:20%;
	height:100%;
	border:none;
	background-color:grey;
	float:left;
	position:fixed;
}

.conv{
	margin-left:25%;
	font-size:30px;
	margin-bottom:60px;
}

.offerForm{
	margin-top:20px;
	text-align:center;
}

.offerForm fieldset{
	color:#04AA6D;
	border-color:#04AA6D;
	text-align:left;
}

.offerForm div, .offerForm table{
	color:grey;
}

.offerForm input[type="submit"]{
	background-color:#04AA6D;
	color:#f2f2f2;
	font-size:30px;
	border:none;
	border-radius:3px;
	margin:10px;
}