@charset "ISO-8859-1";

.navigationBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navigationBar li {
	float: left;
	border-right:1px solid #bbb;
	height:100px;
}

.navigationBar li:last-child {
	border-left: 1px solid #bbb;
  	border-right: none;
}

.navigationBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 40.5px 16px;
	text-decoration: none;
}

.navigationBar li a:hover:not(.active) {
	background-color: #111;
}

.navigationBar form {
	color: white;
}


.navigationBar form #login{
	background-color: #333;
	display: block;
  	color: white;
  	text-align: center;
  	padding: 15px 16px;
  	text-decoration: none;
  	border:none;
  	width:50%;
  	float:left;
  	border-top: 1px solid #bbb;
}

.navigationBar form #login:hover{
	background-color: #111;
}

.navigationBar #register{
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	float:left;
	width:49%;
	padding: 14px 0px;
}

.active {
	background-color: #04AA6D;
}

.searchBar {
	margin-top:10px;
	display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
}

.searchBar input {
	padding: 6px;
  	border: 1px solid #ccc;  
  	font-size: 17px;
}

.tabOffers {
	border-collapse: collapse;
	width: 100%;
}

.tabOffers th, .tabOffers td {
	text-align: left;
	padding: 8px;
}

.tabOffers tr:nth-child(even){
	background-color: #f2f2f2
}

.tabOffers th {
	background-color: #04AA6D;
	color: white;
}

.tabOffers td a {
	text-decoration:none;
}